*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: white;
}

/* HEADER Y FOOTER */

.header{
    background-color: black;
    color: green;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3%;
}

.header img{ 
    width: 200px;
}

.header div ul{
    display: flex;
}

.header div ul li{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.header div ul li a{
    display: flex;
    flex-direction: row;
    color: green;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
 }

.buscador{
    display: flex;
    flex-wrap: wrap;
}

.buscador input{ 
    border-radius: 5px;
    background-color: rgba(141, 141, 141, 0.225); 
    color: green;
    font-size: 16px;
}

.buscador label {
    font-weight: bold;
    font-size: 14px;
    margin: 0 3px;
}

.botonBuscador{
    background-color: rgb(11, 187, 69);
    border: none;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
    padding: 6px 12px;
    font-size: 14px;
}

.buscador form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.nombres{
    text-align: left;
    color: white;
    padding: 11px;
    margin: 30px;
    font-weight: bold;
}

.redes img{
    height: 55px;
    width: 55px;
}

.contacto{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* INDEX */

body{
    background-color: black;
    color: white;
}

main h2{
    margin: 1%;
}

.secciones{
    display: flex;
    padding: 0%;
    justify-content: center;
}

.peliculahome{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(32, 61, 32);
    border-radius: 10px;
    padding: 15px;
    margin: 1%;
}

.peliculahome img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-radius: 8px;
}

/* LOGIN Y REGISTER*/

.contenedorLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-bottom: 2%;
}

.loginPadre{
    width: 33.33vw;
    background-color: #5a53532b;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 128, 0, 0.354);
}

.loginPadre form{
    width: 100%;
    margin: 10%;
}

#maillog, #passlog{
    width: 100%;
}

.loginPadre form div{
    margin: 20px 0px;
}

.recordarme{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.terminos{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.ingreso{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ingreso button{
    background-color: rgb(11, 187, 69);
    border: none;
    align-items: center;
    padding: 3%;
    border-radius: 5px;
    font-weight: bold;
}

.ingreso button a{
    color: black;
}

/*DETALLES MOVIE Y SERIE*/

section.detallemov{
    display: flex;
    padding: 15px;
    margin-bottom: 2%;
    color:white;
    height: 450px;
}

section.detallemov img{
    width: 50%;
    border-radius: 3%;
}

section.detallemov article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section.detallemov h2{
    padding-left: 20px;
}

section.detallemov ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px;
}

section.detallemov li{
    padding: 5px 0px;
}

/*GENEROS MOVIE Y SERIE*/

.seccionesGeneros{
    display: flex;
    padding: 0%;
    justify-content: center;
    flex-wrap: wrap;
}

/*SEARCH RESULTADOS*/

.searchResultados{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
}

/*RESPONSIVE*/

@media (max-width:950px){
    /*HEADER*/

    nav.header{
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        align-items: center;
    }

    nav.header div{
        margin: 0.1vh;
    }

    nav.header img{
        width: 15vw;
    }

    nav.header div ul{
        padding: 0vh;
        margin: 0vh;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav.header div ul li{
        padding: 2vw;
    }

    nav.header div ul li a{
        font-size: 13px;
    }

    .buscador{
        display: flex;
    }

    .buscador form input{
        width: 10vw;
        font-size: 10px;
        justify-content: center;
        text-align: center;
    }

    .botonBuscador{
        margin-left: 5vw;
    }

    
    /*INDEX*/

    h2{
        font-size: 14px;
        padding: 1vh;
    }

    .secciones{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .peliculahome{
        width: 18vw;
    } 

    .peliculahome a{
        font-size: 12px;
    }

    .peliculahome a img{
        width: 16vw;
        height: 18vh;
    }

    /*DETALLE PELI Y SERIE*/

    section.detallemov{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 60%;
    }
    
    section.detallemov img{
        width: 60%;
        border-radius: 3%;
    }

    section.detallemov article{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    section.detallemov h2{
        text-align: center;
    }
    
    section.detallemov li{
        text-align: center;
    }

    /*FOOTER*/
    .redes{
        display: flex;
    }

    .nombres{
        font-size: 15px;
    }

    .redes img{
        height: 45px;
        width: 45px;
    }

    .contacto{
        font-size: 12px;
    }

    /*LOGIN Y REGISTER*/
    .loginPadre{
        width: 40vw;
    }

    /*SEARCH RESULTADOS*/
    .peliculahome {
        width: 30vw;
    }

    .peliculahome a img{
        width: 20vw;
    }
}

@media (max-width:550px){
    /*HEADER*/

    nav.header{
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        flex-wrap: wrap;
        align-items: center;
    }

    nav.header div{
        margin: 0.1vh;
    }

    nav.header img{
        width: 15vw;
    }

    nav.header div ul{
        display: flex;
        margin: 0vh;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav.header div ul li a{
        font-size: 12px;
    }

    .buscador{
        display: flex;
    }

    .buscador form input{
        width: 10vw;
        font-size: 10px;
        justify-content: center;
        text-align: center;
    }
    .buscador form label{
        font-size: 10px;
    }

    .botonBuscador{
        margin-left: 5vw;
        font-size: 10px;
    }
    
    /*INDEX*/

    body{
        width: 100vw;
    }

    h2{
        font-size: 14px;
        padding: 2vh;
        text-align: center;
    }

    .secciones{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .peliculahome{
        width: 75vw;
    } 

    .peliculahome a{
        font-size: 12px;
    }

    .peliculahome a img{
        width: 70vw;
        height: 30vh;
        margin: 0vw 1vw;
    }

    /*FOOTER*/
    footer{
        display: flex;
        flex-direction: column;
    }
    
    .redes{
        display: flex;
    }

    .nombres{
        font-size: 12px;
        text-align: center;
    }

    .redes img{
        height: 35px;
        width: 35px;

    }

    .contacto{
        font-size: 12px;
    }

    /*LOGIN Y REGISTER*/
    .loginPadre{
        width: 55vw;
    }
}

